{% block page_edit_breadcrumb %}
	<nav class="bg-light">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">{% trans "Root" %}</a></li>
			<li class="breadcrumb-item"><a href="/{{ env.server.REDIRECT_URL }}">{% trans "Delivery" %}</a></li>
			<li class="breadcrumb-item active">{% trans "Edit delivery" %} {{ delivery.id }}</li>
		</ol>
	</nav>
{% endblock %}

<!-- new Row -->
<div class="row mb-3">
	<div class="col-sm-6">
		<div class="card ">
			<div class="card-header">{% trans "Delivery information" %}</div>
			<div class="card-body">
				<table class="table table-hover table-striped table-sm">
					<tbody>
						<tr>
							<th>{% trans "Delivery number" %}</th>
							<td>{{ object.id }}</td>
						</tr>
						<tr>
							<th>{% trans "Trigger" %}</th>
							<td>{{ object.trigger_object_classname }} {{ object.trigger_object_id }}</td>
						</tr>
						<tr>
							<th>{% trans "Created" %}</th>
							<td>{{ object.created|datetime }}</td>
						</tr>
						<tr>
							<th>{% trans "Shipping method" %}</th>
							<td>{{ object.get_courier().get_name() }}</td>
						</tr>

						<tr>
							<th>{% trans "Shipped" %}</th>
							<td>
								{% if object.shipped %}
									<span class="badge bg-success">{% trans "Yes" %}</span>
								{% else %}
									<span class="badge bg-danger">{% trans "No" %}</span>
								{% endif %}
							</td>
						</tr>

						{% if not object.shipped %}
							<tr>
								<th>{% trans "In stock" %}</th>
								<td>
									{% if object.in_stock() %}
										<span class="badge bg-success">{% trans "Yes" %}</span>
									{% elseif object.partly_in_stock() %}
										<span class="badge bg-warning">{% trans "Partly" %}</span>
									{% else %}
										<span class="badge bg-danger">{% trans "No" %}</span>
									{% endif %}
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		{% set recipient = object.get_delivery_recipient() %}

		<div class="card">
			<div class="card-header">{% trans "Recipient information" %}</div>
			<div class="card-body">
				<table class="table table-striped table-hover table-sm">
					<tbody>
						<tr>
							<th>{% trans "Name" %}</th>
							<td>{{ recipient.get_firstname() }} {{ recipient.get_lastname() }}</td>
						</tr>

						<tr>
							<th>{% trans "Company" %}</th>
							<td>{{ recipient.get_company() }}</td>
						</tr>

						<tr>
							<th>{% trans "Street" %}</th>
							<td>{{ recipient.get_street() }} {{ recipient.get_housenumber() }}</td>
						</tr>

						<tr>
							<th>{% trans "City" %}</th>
							<td>{{ recipient.get_zipcode() }} {{ recipient.get_city() }}</td>
						</tr>

						<tr>
							<th>{% trans "Country" %}</th>
							<td>{{ recipient.get_country().name }}</td>
						</tr>

						<tr>
							<th>{% trans "Phone" %}</th>
							<td>{{ recipient.get_phone() }}</td>
						</tr>

						<tr>
							<th>{% trans "Fax" %}</th>
							<td>{{ recipient.get_fax() }}</td>
						</tr>

						<tr>
							<th>{% trans "VAT" %}</th>
							<td>{{ recipient.get_vat() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- end of .row -->

<!-- New row -->
<div class="row mb-3">
	<div class="col-sm-12">
		<div class="card ">
			<div class="card-header">{% trans "Shipment overview" %}</div>
			<div class="card-body">
				<table class="table table-alternate table-hover">
					<thead>
						<tr>
							<th>{% trans "Product to ship" %}</th>
							<th>{% trans "Amount" %}</th>
							<th>{% trans "Already shipped" %}</th>
							<th>{% trans "To ship" %}</th>
						</tr>
					</thead>
					<tbody>
					{% for delivery_item in object.get_overview() %}
					<tr>
						<td>
							{{ delivery_item.deliverable.get_name() }}
						</td>

						<td>{{ delivery_item.total }}</td>
						<td>{{ delivery_item.shipped }}</td>
						<td>{{ delivery_item.total-delivery_item.shipped }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- end of .row -->

<div class="card mb-3">
	<div class="card-header">
		{% trans "Packages" %}
		{% if not delivery.shipped %}
		<div class="float-end">
			<a href="#new_shipment" data-bs-toggle="modal"><i class="fas fa-plus"></i> {% trans "New package" %}</a>
		</div>
		{% endif %}
	</div>
	<div class="card-body">
	<div class="row">
		{% for shipment in object.get_shipments() %}
			<div class="col-sm-6">
				<div class="card {% if shipment.delivered %}card-success{% else %}{% endif %}">
					<div class="card-header">{% trans "Package" %} {{ shipment.id }}</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-6">
								<address>
									<strong>{{ shipment.company }} ({{ shipment.firstname }} {{ shipment.lastname }})</strong><br>
									{% if shipment.line1 != '' %}
										{{ shipment.line1 }} <br />
									{% else %}
										{{ shipment.street }} {{ shipment.housenumber }} <br />
									{% endif %}

									{% if shipment.line2 != '' %}
										{{ shipment.line2 }} <br />
									{% endif %}
									{% if shipment.line3 != '' %}
										{{ shipment.line3 }} <br />
									{% endif %}

									{{ shipment.zip }} {{ shipment.city }}<br>
									<abbr title="Phone">P:</abbr> {{ shipment.phone }} <abbr title="Fax">F:</abbr> {{ shipment.fax }}<br />
									<abbr title="Email">E:</abbr> {{ shipment.email }}
								</address>
							</div>

							<div class="col-sm-6">
								<div class="row">
									<label class="col-form-label col-sm-4">{% trans "Shipping type" %}</label>
									<div class="col-sm-8">
										<div class="form-control-plaintext">
											{{ shipment.get_courier().get_name() }}
										</div>
									</div>
								</div>
								<div class="row">
									<label class="col-form-label col-sm-4">{% trans "Created" %}</label>
									<div class="col-sm-8">
										<div class="form-control-plaintext">
											{{ shipment.created|datetime }}
										</div>
									</div>
								</div>
								{% if shipment.get_courier().is_traceable() %}
									<div class="row">
										<label class="col-form-label col-sm-4">{% trans "Shipping details" %}</label>
										<div class="col-sm-8">
											<div class="form-control-plaintext">
												<a href="javascript:void(0);" onclick="trace({{ shipment.id }});">{% trans "Details" %}</a>
											</div>
										</div>
									</div>
								{% endif %}
								{% if shipment.get_courier().has_label() %}
									<div class="row">
										<label class="col-form-label col-sm-4">{% trans "Handling PDF" %}</label>
										<div class="col-sm-8">
											<div class="form-control-plaintext">
												<i class="fas fa-file-pdf"></i>
												<a href="{{ env.module.get_module_path() }}?shipment_id={{ shipment.id }}&action=label">{% trans "Label" %}</a>
											</div>
										</div>
									</div>
								{% endif %}
								<div class="row">
									<label class="col-form-label col-sm-4">{% trans "Package weight" %}</label>
									<div class="col-sm-8">
										<div class="form-control-plaintext">
											{{ shipment.get_weight() }}kg
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<table class="table table-hover table-alternate">
					<thead>
						<tr>
							<th>{% trans "Stock Product type" %}</th>
							<th>{% trans "Amount" %}</th>
						</tr>
					</thead>
					<tbody>
					{% for overview_item in shipment.get_overview() %}
						<tr>
							<td>{{ overview_item.deliverable.get_name() }}</td>
							<td>{{ overview_item.total }}</td>
						</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning">{% trans "Nothing is shipped yet." %}</div>
		{% endfor %}
	</div>


	</div>
</div>

{% include "@skeleton-package-delivery/bootstrap5/modal/new_package.twig" with {"id": "new_shipment", "delivery": object, "modal_size": "xl" } %}

<div class="modal fade" id="shipment-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{% trans "Details" %}</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function trace(shipment_id) {
		$('#shipment-details .modal-body').load('{{ env.module.get_module_path() }}?action=trace&shipment_id=' + shipment_id, function() {
			$('#shipment-details').modal();
		});
	}
</script>
